/*
Table of Contents (order of these sections is significant)
    @media all (default styles or everything)
    @media screen (changes for screen only)
    @media print  (changes for printing only)
*/

@media all {
    .full{
        width: 100%;
    }
    div.minor{
        float: left;
    }
    .clickable{
        cursor: pointer;
    }
    .clickable:hover{
        background-color: #FEF;
    }
}

@media print {
    /* ANY CHANGES FOR PRINTED PAGES */
}