/*
Table of Contents (order of these sections is significant)
    @media all (default styles or everything)
    @media screen (changes for screen only)
    @media print  (changes for printing only)
*/

@media all {
    .full{
        width: 100%;
    }
    .half{
        width: 49.5%;
    }
    .third{
        width: 33%;
    }
    div.minor{
        float: left;
    }
    .clickable{
        cursor: pointer;
    }
    .clickable:hover{
        background-color: #FEF;
    }
    .highlight {
        background-color: #EDE;
    }
    
    .tile_row {
        width: 100%;
    }
    .tile_block {
        display: inline-block;
        vertical-align:top;
    }

    th.vertical{
        width: 10em;
    }

    textarea {
        min-height: 7em;
    }
    
    #last-updated {
        text-align: right;
        padding-top: 1em;
        padding-right: 1em;
    }

    #item_control_tile{
        float: right;
    }
    #item_header {
        padding-left: 1em;
        padding-right: 2em;
    }
    #item_header * {
        font-size: medium;
    }
    #item_header .tile_block {
        margin-bottom: 15px;
        margin-right: 10px;
    }
    #item_header .label {
        margin-top: .2em;
    }
    #item_header .label * {
        font-size: small;
    }
    #item_header input.xlong,
    #item_header select.xlong {
        width: 40em;
    }
    #item_header input.long,
    #item_header select.long {
        width: 15em;
    }
    #item_header input.short,
    #item_header select.short {
        width: 5em;
    }

    
}

@media print {
    /* ANY CHANGES FOR PRINTED PAGES */
}